Flask==2.3.3
multitasking>=0.0.13
packaging==23.1
typing-extensions==4.7.1
yfinance==0.2.36
matplotlib==3.7.2
supabase==1.1.1
httpx==0.24.1
python-dotenv==1.0.0
postgrest==1.0.0
realtime==0.1.5
gotrue==0.2.0
seaborn==0.12.2
kaleido==0.2.1
plotly==5.15.0
pandas==2.0.3
numpy==1.24.3
python-dotenv==1.0.0
httpx==0.24.1
setuptools==68.0.0
wheel==0.41.2
pandas-datareader==0.10.0
